// style layout
.container__about {
  width: 75%;
  .header {
    .herohang-down {
      left: -265px;
      &::before {
        width: 250px;
      }
    }
  }
  .main {
    margin-top: 56px;
    // style the hero section
    .hero-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .heading--large {
        position: absolute;
        top: 117px;
        right: 0;
        z-index: 2;
      }
      .hero-image {
        background: url(/assets/about/desktop/image-hero.jpg) no-repeat center
          center/cover;
        width: 70%;
        height: 720px;
        position: relative;
        z-index: -1;
      }
      .content {
        height: 503px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: -100px;
        bottom: 0;
        width: 65%;
        .title {
          margin-bottom: 30px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          margin-bottom: 16px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
    }

    // style the Heritage section
    .heritage-section {
      margin-top: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      position: relative;
      &::before {
        content: ' ';
        width: 100px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $Light-Grey;
        // margin-left: 32px;
      }
      .content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .title {
          // max-width: 445px;
          margin-bottom: 32px;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          margin-top: 12px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          // max-width: 445px;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
      .heritage-image {
        position: relative;
        width: 50%;
        // min-width: 540px;
        height: 568px;
        background: url(/assets/about/desktop/image-heritage.jpg) no-repeat
          center center/cover;
      }
    }

    // the leaders section
    .leaders-section {
      margin-top: 200px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      .title {
        font-size: $font-size-h2;
        font-weight: $bold;
        color: $Very-Dark-Blue;
        line-height: 56px;
        letter-spacing: -2px;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .leader-card {
        .social-media-links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          max-width: 100px;
          visibility: hidden;
          .twitter-icon {
            width: 40px;
            height: 33px;
            fill: $Very-Dark-Blue;
            display: inline-block;
          }
          .linkedin-icon {
            width: 40px;
            height: 40px;
            fill: $Very-Dark-Blue;
            display: inline-block;
          }
        }
        .name {
          font-size: $font-size-h3;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 25px;
          margin-top: 32px;
          margin-bottom: 8px;
        }
        .occupation {
          font-size: $font-size-body;
          color: $Medium-Grey;
          line-height: 25px;
          margin-bottom: 8px;
        }
        .avatar {
          width: 100%;
          max-width: 350px;
        }
        &.card-1 {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        &.card-2 {
          grid-column: 3/4;
          grid-row: 1/2;
        }
        &.card-3 {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        &.card-4 {
          grid-column: 3/3;
          grid-row: 2/3;
        }
      }
    }
  }
}

// Set width for tablet screens
@media (max-width: 1000px) {
  .container__about {
    .main {
      .hero-section {
        .hero-image {
          width: 90%;
          background: url(/assets/about/tablet/image-hero.jpg) no-repeat center
            center / cover;
        }
        .content {
          right: 0px;
          width: 85%;
          max-height: 338px;
          .title {
            margin-left: 32px;
            font-size: 40px;
          }
          .text {
            margin-left: 32px;
          }
        }
      }

      // Heritage section

      .heritage-section {
        .heritage-image {
          display: none;
        }
        .content {
          width: 100%;
          .title {
            margin-top: 64px;
          }
        }
      }

      // The Leaders section
      .leaders-section {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 48px;
        .title {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .leader-card {
          .social-media-links {
            visibility: visible;
          }
          &.card-1 {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          &.card-2 {
            grid-column: 2/3;
            grid-row: 2/3;
          }
          &.card-3 {
            grid-column: 1/2;
            grid-row: 3/4;
          }
          &.card-4 {
            grid-column: 2/3;
            grid-row: 3/4;
          }
        }
      }
    }
  }
}

// Set width for mobile screens
@media (max-width: 600px) {
  .container__about {
    width: 80%;
    .header {
      width: 100%;
    }
    .main {
      align-items: center;
      .hero-section {
        .heading--large {
          display: none;
        }
        .hero-image {
          width: 100%;
          max-height: 400px;
        }
        .content {
          left: 0px;
          top: 350px;
          width: 90%;
        }
      }

      // Heritage section

      .heritage-section {
        margin-top: 400px;
        .heritage-image {
          display: none;
        }
        .content {
          .title {
            margin-top: 64px;
          }
        }
      }
    }
  }
}

// set width for mobile screen
@media (max-width: 600px) {
  .container__about {
    .main {
      // The Leaders section
      .leaders-section {
        grid-template-columns: 1fr;
        grid-gap: 48px;
        .title {
          grid-column: 1/2;
          grid-row: 1/2;
          justify-self: center;
        }
        .leader-card {
          justify-self: center;
          &.card-1 {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          &.card-2 {
            grid-column: 1/2;
            grid-row: 3/4;
          }
          &.card-3 {
            grid-column: 1/2;
            grid-row: 4/5;
          }
          &.card-4 {
            grid-column: 1/2;
            grid-row: 5/6;
          }
        }
      }
    }
  }
}
// set width for mobile screen
@media (max-width: 400px) {
  .container__about {
    width: 100%;
    .main {
      .hero-section {
        .hero-image {
          background: url(/assets/about/mobile/image-hero.jpg) no-repeat center
            center / cover;
          max-height: 240px;
        }
        .content {
          top: 200px;
        }
      }
      .heritage-section {
        &::before {
          margin-left: 32px;
        }
        .content {
          margin-left: 32px;
          margin-right: 32px;
        }
      }
    }
  }
}
