.container__about {
  width: 85%;
  border: 1px solid red;
  .main {
    border: 1px solid green;
    margin-top: 56px;

    // style the hero section
    .hero-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .heading--large {
        position: absolute;
        top: 117px;
        right: 0;
        z-index: 2;
      }
      .hero-image {
        background: url(/assets/about/desktop/image-hero.jpg) no-repeat center
          center/cover;
        width: 70%;
        height: 720px;
        position: relative;
        z-index: -1;
      }
      .content {
        height: 503px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: -100px;
        bottom: 0;
        width: 67%;
        .title {
          margin-bottom: 30px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          margin-bottom: 16px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
    }

    // style the Heritage section
    .heritage-section {
      margin-top: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .title {
          max-width: 445px;
          margin-bottom: 32px;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          max-width: 445px;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
      .heritage-image {
        position: relative;
        width: 50%;
        // min-width: 540px;
        height: 568px;
        background: url(/assets/about/desktop/image-heritage.jpg) no-repeat
          center center/cover;
      }
    }

