@import 'varaibles'; // components
//  1* buttons
.cta {
  border: none;
  height: 72px;
  padding: 0 24px;
  //   layouts
  display: flex;
  align-items: center;
  //   fonts
  font-family: 'Spartan', sans-serif;
  font-weight: $bold;
  font-size: $font-size-body;
  line-height: 25px;
  .icon-arrow {
    //   btn icon
    fill: none;
    stroke: $white;
    width: 26px;
    height: 20px;
    margin-left: 24px;
  }
  &.btn--normal {
    color: $white;
    background-color: $Very-Dark-Blue;
  }
}
.tertiary {
  border: none;
  width: 80px;
  height: 80px;
  //   fonts
  font-family: 'Spartan', sans-serif;
  font-weight: $bold;
  font-size: $font-size-h3;
  line-height: 25px;
  &.btn--normal {
    color: $Medium-Grey;
    background-color: $white;
  }
  &.btn--active {
    color: $Light-Grey;
    background-color: $Very-Dark-Blue;
  }
}

// Titles
.heading--large {
  display: inline-block;
  font-size: $font-size-h1-L;
  font-weight: $bold;
  color: $Very-Light-Grey;
  letter-spacing: -5px;
  line-height: 200px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $Very-Dark-Blue;
  opacity: 0.3;
}

// .sidebar {
//   position: absolute;
//   top: 10;
//   left: 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   border: 1px solid green;
//   transform-origin: bottom;
//   transform: rotate(90deg);

//   // font
//   font-size: $font-size-body;
//   font-weight: $medium;
//   letter-spacing: 15px;
//   line-height: 25px;
//   text-transform: uppercase;
//   color: $Light-Grey;
//   // &:before {
//   //   content: '';
//   //   display: inline-block;
//   //   width: 140px;
//   //   height: 1px;
//   //   margin-right: 18px;
//   //   background-color: $Light-Grey;
//   // }
// }

.nav {
  margin-left: 94px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  & > a {
    text-decoration: none;
    font-size: $font-size-body;
    line-height: 25px;
    font-weight: $bold;
    color: $Dark-Grey;
  }
}
.header {
  margin-top: 64px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  .open_menu_btn {
    border: none;
    background-color: transparent;
    visibility: hidden;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    #hamburger-icon {
      width: 24px;
      height: 17px;
      fill: $Very-Dark-Blue;
    }
  }
  .close_menu_btn {
    border: none;
    background-color: transparent;
    visibility: hidden;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    #close-icon {
      width: 20px;
      height: 21px;
      fill: $Very-Dark-Blue;
    }
  }
  .logo {
    fill: $Very-Dark-Blue;
    width: 97px;
    height: 40px;
  }
}
// style footer
.footer {
  width: 85%;
  height: 150px;
  margin-top: 200px;
  position: relative;
  .nav-wrapper {
    background-color: $Very-Light-Grey;
    display: flex;
    align-items: center;
    width: 85%;
    .logo-wraper {
      width: 150px;
      height: 150px;
      display: inline-block;
      background-color: $Very-Dark-Blue;
      display: grid;
      place-items: center;
      .logo {
        fill: $white;
        width: 97px;
        height: 40px;
      }
    }
  }
  .cta {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
  }
}

// set components width for tablet screens
@media (max-width: 850px) {
  .footer {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .footer {
    background-color: $Very-Light-Grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .nav-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: transparent;
      .nav {
        flex-direction: column;
        align-items: center;
        height: 150px;
        margin-top: 32px;
      }
      .logo-wraper {
        margin-top: -80px;
      }
    }
    .cta {
      margin-top: 64px;
      position: static;
    }
  }
}

    }
  }
}
