// style layout

.container__contact {
  width: 85%;
  // border: 1px solid red;
  .main {
    // border: 1px solid green;
    margin-top: 56px;

    // style the hero section
    .hero-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .heading--large {
        position: absolute;
        top: 117px;
        right: 0;
        z-index: 2;
      }
      .hero-image {
        background: url(/assets/contact/desktop/image-hero.jpg) no-repeat center
          center/cover;
        width: 70%;
        height: 720px;
        position: relative;
        z-index: -1;
      }
      .content {
        height: 503px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: -100px;
        bottom: 0;
        width: 67%;
        .title {
          margin-bottom: 30px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          margin-bottom: 16px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
    }

    // style the contact section

    .contact__details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 100px;
      margin-top: 200px;
      position: relative;
      padding-top: 80px;
      &::before {
        content: ' ';
        width: 100px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $Light-Grey;
        // margin-left: 32px;
      }
      .title {
        font-size: $font-size-h2;
        font-weight: $bold;
        color: $Very-Dark-Blue;
        line-height: 56px;
        letter-spacing: -2px;
        grid-column: 1/2;
        max-width: 220px;
      }
      .contact {
        .title {
          font-size: $font-size-body;
          font-weight: $bold;
          color: $Dark-Grey;
          line-height: 35px;
          margin-bottom: 18px;
          letter-spacing: 2px;
        }
        .text {
          font-size: $font-size-body;
          font-weight: $medium;
          line-height: 35px;
          color: $Medium-Grey;
        }
        .cta {
          background-color: transparent;
          padding: 0;
          margin-top: 32px;
          .icon-arrow {
            stroke: $Very-Dark-Blue;
          }
        }
        .first-contact {
          grid-column: 2/3;
        }
        .second-contact {
          grid-column: 3/4;
        }
      }
      #map {
        width: 100%;
        height: 560px;
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: red;
      }
    }
    .form-section {
      margin-top: 250px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: 1px solid red;
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          height: 47px;
          margin-bottom: 40px;
          border: none;
          border-bottom: 1px solid $Medium-Grey;
          padding-left: 24px;
          font-family: 'Spartan', sans-serif;
          &::placeholder {
            font-size: $font-size-body;
            font-weight: $bold;
            color: $Medium-Grey;
          }
        }
        textarea {
          border: none;
          border-bottom: 1px solid $Medium-Grey;
          padding-left: 24px;
          padding-top: 18px;
          font-family: 'Spartan', sans-serif;
          resize: none;

          &::placeholder {
            font-size: $font-size-body;
            font-weight: $bold;
            color: $Medium-Grey;
          }
        }
        .submit-btn {
          height: 80px;
          width: 80px;
          background-color: $Very-Dark-Blue;
          border: none;
          align-self: end;
          .icon-arrow {
            width: 26px;
            height: 20px;
            stroke: $white;
          }
        }
      }
      .title {
        max-width: 250px;
        align-self: center;
        font-size: $font-size-h2;
        font-weight: $bold;
        color: $Very-Dark-Blue;
        line-height: 56px;
        letter-spacing: -2px;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

// // Set width for tablet screens and

// // Set width for tablet screens
// @media (max-width: 900px) {
//   .container__contact {
//     width: 80%;
//     .main {
//       .hero-section {
//         .hero-image {
//           width: 90%;
//           background: url(/assets/contact/tablet/image-hero.jpg) no-repeat
//             center center / cover;
//         }
//         .content {
//           right: 0px;
//           width: 85%;
//           max-height: 338px;
//           .title {
//             margin-left: 32px;
//             font-size: 40px;
//           }
//           .text {
//             margin-left: 32px;
//           }
//         }
//       }
//     }
//   }
// }

// // Set width for mobile screens
// @media (max-width: 650px) {
//   .container__contact {
//     width: 80%;
//     .main {
//       align-items: center;
//       .hero-section {
//         .heading--large {
//           display: none;
//         }
//         .hero-image {
//           width: 100%;
//           max-height: 400px;
//         }
//         .content {
//           left: 0px;
//           top: 350px;
//           width: 90%;
//         }
//       }
//     }
//   }
// }

// // set width for mobile screen
// @media (max-width: 400px) {
//   .container__contact {
//     width: 100%;
//     .main {
//       .hero-section {
//         .hero-image {
//           background: url(/assets/contact/mobile/image-hero.jpg) no-repeat
//             center center / cover;
//           max-height: 240px;
//         }
//         .content {
//           top: 200px;
//         }
//       }
//     }
//   }
// }
