// style layout
.container__contact {
  width: 80%;
  .header {
    .herohang-down {
      left: -280px;
      &::before {
        width: 290px;
      }
    }
  }
  .main {
    margin-top: 56px;
    // style the hero section
    .hero-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .heading--large {
        position: absolute;
        top: 117px;
        right: 0;
        z-index: 2;
      }
      .hero-image {
        background: url(../../assets/contact/desktop/image-hero.jpg) no-repeat
          center center/cover;
        width: 70%;
        height: 720px;
        position: relative;
        z-index: -1;
      }
      .content {
        height: 503px;
        background-color: white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: -100px;
        bottom: 0;
        width: 65%;
        .title {
          margin-bottom: 30px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .text {
          margin-bottom: 16px;
          max-width: 446px;
          align-self: center;
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
        }
      }
    }

    // style the contact section

    .contact__details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 100px;
      margin-top: 200px;
      position: relative;
      padding-top: 80px;
      &::before {
        content: ' ';
        width: 100px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $Light-Grey;
        // margin-left: 32px;
      }
      .title {
        font-size: $font-size-h2;
        font-weight: $bold;
        color: $Very-Dark-Blue;
        line-height: 56px;
        letter-spacing: -2px;
        grid-column: 1/2;
        width: 220px;
      }
      .contact {
        display: flex;
        flex-direction: column;
        .title {
          font-size: $font-size-body;
          font-weight: $bold;
          color: $Dark-Grey;
          line-height: 35px;
          margin-bottom: 18px;
          letter-spacing: 2px;
        }
        .text {
          font-size: $font-size-body;
          font-weight: $medium;
          line-height: 35px;
          color: $Medium-Grey;
        }
        .cta {
          background-color: transparent;
          padding: 0;
          margin-top: 24px;
          color: $Very-Dark-Blue;
          width: 200px;
          height: auto;
          &:hover {
            text-decoration: underline;
          }
          .icon-arrow {
            stroke: $Very-Dark-Blue;
          }
        }
        .first-contact {
          grid-column: 2/3;
        }
        .second-contact {
          grid-column: 3/4;
        }
      }
      #map {
        width: 100%;
        height: 560px;
        grid-column: 1/-1;
        grid-row: 2/3;
      }
    }
    .form-section {
      margin-top: 250px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          margin-bottom: 32px;
        }
        .email {
          margin-bottom: 32px;
        }
        & > div {
          position: relative;
          .tag {
            position: absolute;
            right: 0;
            bottom: 8px;
            font-weight: $bold;
            font-size: 14px;
            color: $Red;
            visibility: hidden;
          }

          input {
            // margin-bottom: 32px;
            height: 47px;
            box-sizing: border-box;
            border: none;
            color: $Very-Dark-Blue;
            font-weight: $bold;
            font-size: $font-size-body;
            padding-left: 24px;
            font-family: 'Spartan', sans-serif;
            width: 100%;
            border-bottom: 1px solid $Medium-Grey;
            &:focus {
              border-bottom: 2px solid $Very-Dark-Blue;
              outline: 0; /* Removes the default blue ring */
              /* Now, let's create our own focus style */
              box-shadow: 0 0 0 2px transparent;
            }
            &::placeholder {
              font-size: $font-size-body;
              font-weight: $bold;
              color: $Medium-Grey;
            }
          }
          textarea {
            border: none;
            box-sizing: border-box;
            width: 100%;
            padding-left: 24px;
            padding-top: 18px;
            font-family: 'Spartan', sans-serif;
            font-size: $font-size-body;
            color: $Very-Dark-Blue;
            font-weight: $bold;
            resize: none;
            border-bottom: 1px solid $Medium-Grey;
            &:focus {
              border-bottom: 2px solid $Very-Dark-Blue;
              outline: 0; /* Removes the default blue ring */
              /* Now, let's create our own focus style */
              box-shadow: 0 0 0 2px transparent;
            }
            &::placeholder {
              font-size: $font-size-body;
              font-weight: $bold;
              color: $Medium-Grey;
            }
          }
        }
        .submit-btn {
          height: 80px;
          width: 80px;
          background-color: $Very-Dark-Blue;
          border: none;
          align-self: end;
          margin-top: -2px;
          .icon-arrow {
            width: 26px;
            height: 20px;
            stroke: $white;
            fill: transparent;
          }
          &:hover {
            background-color: $Dark-Grey;
          }
        }
      }
      .title {
        width: 250px;
        align-self: center;
        font-size: $font-size-h2;
        font-weight: $bold;
        color: $Very-Dark-Blue;
        line-height: 56px;
        letter-spacing: -2px;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

// Set width for tablet screens
@media (max-width: 1000px) {
  .container__contact {
    .main {
      .hero-section {
        .hero-image {
          width: 90%;
          background: url(../../assets/contact/tablet/image-hero.jpg) no-repeat
            center center / cover;
        }
        .content {
          right: 0px;
          width: 85%;
          max-height: 338px;
          .title {
            margin-left: 32px;
            font-size: 40px;
          }
          .text {
            margin-left: 32px;
          }
        }
      }
      .contact__details {
        grid-template-columns: 1fr;
        row-gap: 48px;
        .title {
          grid-row: 1/2;
          width: 500px;
        }
        .first-contact {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .second-contact {
          grid-column: 1/2;
          grid-row: 3/4;
        }
        #map {
          grid-column: 1/2;
          grid-row: 4/5;
        }
      }

      .form-section {
        grid-template-columns: 1fr;
        row-gap: 50px;
        .title {
          grid-column: 1/2;
          grid-row: 1/2;
          width: 480px;
        }
        .form {
          grid-column: 1/2;
          grid-row: 2/3;
        }
      }
    }
  }
}
// Set width for mobile screens
@media (max-width: 600px) {
  .container__contact {
    width: 80%;
    .header {
      width: 100%;
    }
    .main {
      align-items: center;
      .hero-section {
        .heading--large {
          display: none;
        }
        .hero-image {
          width: 100%;
          max-height: 400px;
        }
        .content {
          left: 0px;
          top: 350px;
          width: 90%;
          .title {
            margin-left: 0;
          }
          .text {
            margin-left: 0;
          }
        }
      }
      .contact__details {
        row-gap: 50px;
        margin-top: 400px;
      }
    }
  }
}
