// styling
.container__home {
  width: 80%;
  .header {
    .herohang-down {
      left: -230px;
      &::before {
        width: 230px;
      }
    }
  }
  .main {
    // Carousel
    margin-top: 56px;
    width: 100%;
    .carousel {
      background: url(/assets/home/desktop/image-hero-paramour.jpg) no-repeat
        top center/cover;
      height: 720px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .carousel-content {
        width: 554px;
        margin-left: 100px;
        z-index: 1;
        .heading-small {
          font-size: $font-size-h1-S;
          font-weight: $bold;
          color: $white;
        }
        .text {
          font-size: $font-size-body;
          line-height: 25px;
          width: 445px;
          color: $Very-Light-Grey;
          margin-top: 14px;
        }
        .cta {
          margin-top: 40px;
        }
        // style btn list item
        .btn-list {
          list-style: none;
          position: absolute;
          display: flex;
          flex-direction: row;
          bottom: 0;
          left: -80px;
          padding: 0;
          margin: 0;
        }
      }
    }
    .welcome-section {
      width: 100%;
      margin-top: 108px;
      display: grid;
      grid-template-columns: 182px 446px auto;
      .heading--large {
        z-index: 1;
        grid-column: 1/3;
        grid-row: 1/2;
      }
      .content {
        width: 446px;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: -40px;
        display: grid;
        .content__title {
          font-size: $font-size-h2;
          font-weight: $bold;
          color: $Very-Dark-Blue;
          line-height: 56px;
          letter-spacing: -2px;
          margin-bottom: 82px;
          &::first-letter {
            text-transform: uppercase;
          }
        }
        .content__txt {
          font-size: $font-size-body;
          font-weight: $medium;
          color: $Medium-Grey;
          line-height: 25px;
          vertical-align: bottom;
          align-self: end;
        }
      }
      .welcome-image {
        object-fit: cover;
        z-index: -1;
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: -80px;
        justify-self: end;
        align-self: end;
      }
    }

    // About us section
    .about-us-section {
      background: url(/assets/home/desktop/image-small-team.jpg) no-repeat
        center center/cover;
      width: 100%;
      height: 560px;
      position: relative;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about-us__content {
        z-index: 1;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        width: 445px;
        .title {
          font-size: $font-size-h2;
          font-weight: $bold;
          letter-spacing: -2px;
          line-height: 56px;
          color: $white;
          width: 445px;
        }
        .cta {
          margin-top: 32px;
        }
      }
    }

    // Portfolio section
    .portfolio-section {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 200px;
      grid-gap: 30px;
      .title {
        font-size: $font-size-h2;
        font-weight: $bold;
        letter-spacing: -2px;
        line-height: 56px;
        color: $Very-Dark-Blue;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .btn-wrapper {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end;
      }
      .clickable-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 560px;
        // width: 350px;
        .large-number {
          font-size: $font-size-h1-L;
          font-weight: $bold;
          position: absolute;
          right: 0;
          top: 0;
          color: $white;
          opacity: 0.7;
        }
        .project-name {
          display: block;
          margin-left: 40px;
          margin-bottom: 4px;
          font-size: $font-size-h3;
          font-weight: $bold;
          color: $white;
          z-index: 1;
        }
        .view-all-tag {
          display: block;
          margin-left: 40px;
          margin-bottom: 40px;
          color: $white;
          z-index: 1;
          opacity: 0.8;
        }
        &.card-1 {
          background: url(/assets/portfolio/desktop/image-228b.jpg) no-repeat
            center center/cover;
          grid-column: 1/2;
          grid-row: 2/3;
        }
        &.card-2 {
          background: url(/assets/portfolio/desktop/image-del-sol.jpg) no-repeat
            center center/cover;
          grid-column: 2/3;
          grid-row: 2/3;
        }
        &.card-3 {
          background: url(/assets/portfolio/desktop/image-edelweiss.jpg)
            no-repeat center center/cover;
          grid-column: 3/4;
          grid-row: 2/3;
        }
      }
    }
  }
}

// set width for tablet screens
@media (max-width: 1000px) {
  .container__home {
    .main {
      .carousel {
        justify-content: center;
        background: url(/assets/home/tablet/image-hero-paramour.jpg) no-repeat
          top center/cover;
        .carousel-content {
          margin-left: 12px;
          .btn-list {
            visibility: hidden;
          }
        }
      }
      // welcome section
      .welcome-section {
        grid-template-columns: 1fr;
        .welcome-image {
          display: none;
        }
        .heading--large {
          grid-column: 1/2;
        }
        .content {
          margin: 0;
          grid-column: 1/2;
          align-items: start;
          width: auto;
          max-width: 446px;
          .content__title {
            margin-bottom: 32px;
          }
        }
      }
      .about-us-section {
        background: url(/assets/home/tablet/image-small-team.jpg) no-repeat
          center center/cover;
        .about-us__content {
          margin-left: 0;
          margin-left: 12px;
        }
      }
      // portfolio section
      .portfolio-section {
        width: 100%;
        column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        .cta {
          grid-column: 2/3;
        }
        .clickable-card {
          height: 240px;
          width: 100%;
          &.card-1 {
            background: url(/assets/portfolio/tablet/image-228b.jpg) no-repeat
              center center/cover;
            grid-column: 1/-1;
            grid-row: 2/3;
          }
          &.card-2 {
            background: url(/assets/portfolio/tablet/image-del-sol.jpg)
              no-repeat center center/cover;
            grid-column: 1/-1;
            grid-row: 3/4;
          }
          &.card-3 {
            background: url(/assets/portfolio/tablet/image-edelweiss.jpg)
              no-repeat center center/cover;
            grid-column: 1/-1;
            grid-row: 4/5;
          }
        }
      }
    }
  }
}

// set width for mobile screen

@media (max-width: 600px) {
  .container__home {
    width: 100%;
    display: flex;
    flex-direction: column;
    .main {
      display: flex;
      flex-direction: column;
      .carousel {
        background: url(/assets/home/mobile/image-hero-paramour.jpg) no-repeat
          top center/cover;
      }
      // welcome section
      .welcome-section {
        .heading--large {
          display: none;
        }
        .content {
          margin-left: 50px;
        }
      }
      .about-us-section {
        background: url(/assets/home/mobile/image-small-team.jpg) no-repeat
          center center/cover;
        .about-us__content {
          margin-left: 0;
          margin-left: 10px;
        }
      }
      // portfolio section
      .portfolio-section {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        align-self: center;
        .cta {
          grid-column: 1/2;
          grid-row: 5/6;
          width: 100%;
        }
        .text {
          grid-column: 1/2;
        }
        .clickable-card {
          height: 240px;
          width: 100%;
          .large-number {
            visibility: hidden;
          }
          &.card-1 {
            // background: url(/assets/portfolio/mobile/image-228b.jpg) no-repeat
            //   center center/cover;
            grid-column: 1/2;
          }
          &.card-2 {
            // background: url(/assets/portfolio/mobile/image-del-sol.jpg)
            //   no-repeat center center/cover;
            grid-column: 1/2;
          }
          &.card-3 {
            // background: url(/assets/portfolio/mobile/image-edelweiss.jpg)
            //   no-repeat center center/cover;
            grid-column: 1/2;
          }
        }
      }
    }
  }
}
