.container__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  .main {
    width: 100%;
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    row-gap: 30px;
    justify-content: space-between;

    // placcing cards
    .card-1-1 {
      background: url(/assets/portfolio/desktop/image-trinity.jpg) no-repeat
        center center/cover;
    }
    .card-1-2 {
      background: url(/assets/portfolio/desktop/image-sxiv.jpg) no-repeat center
        center/cover;
    }
    .card-1-3 {
      background: url(/assets/portfolio/desktop/image-del-sol.jpg) no-repeat
        center center/cover;
    }
    // seecond row
    .card-2-1 {
      background: url(/assets/portfolio/desktop/image-federal.jpg) no-repeat
        center center/cover;
    }
    .card-2-2 {
      background: url(/assets/portfolio/desktop/image-paramour.jpg) no-repeat
        center center/cover;
    }
    .card-2-3 {
      background: url(/assets/portfolio/desktop/image-prototype.jpg) no-repeat
        center center/cover;
    }

    // Third row
    .card-3-1 {
      background: url(/assets/portfolio/desktop/image-edelweiss.jpg) no-repeat
        center center/cover;
    }
    .card-3-2 {
      background: url(/assets/portfolio/desktop/image-hypers.jpg) no-repeat
        center center/cover;
    }
    .card-3-3 {
      background: url(/assets/portfolio/desktop/image-seraph.jpg) no-repeat
        center center/cover;
    }
    // fourth row
    .card-4-1 {
      background: url(/assets/portfolio/desktop/image-netcry.jpg) no-repeat
        center center/cover;
    }
    .card-4-2 {
      background: url(/assets/portfolio/desktop/image-eebox.jpg) no-repeat
        center center/cover;
    }
    .card-4-3 {
      background: url(/assets/portfolio/desktop/image-228b.jpg) no-repeat center
        center/cover;
    }
    .clickable-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 560px;
      width: 350px;

      .large-number {
        font-size: $font-size-h1-L;
        font-weight: $bold;
        position: absolute;
        right: 0;
        top: 0;
        color: $white;
        opacity: 0.7;
      }
      .project-name {
        display: block;
        margin-left: 40px;
        margin-bottom: 4px;
        font-size: $font-size-h3;
        font-weight: $bold;
        color: $white;
        z-index: 1;
      }
      .view-all-tag {
        display: block;
        margin-left: 40px;
        margin-bottom: 40px;
        color: $white;
        z-index: 1;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 850px) {
  .container__portfolio {
    align-items: center;
    width: 80%;
    .main {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      .clickable-card {
        height: 240px;
        width: 100%;
      }
      .card-1-1 {
        background: url(/assets/portfolio/tablet/image-trinity.jpg) no-repeat
          center center/cover;
      }
      .card-1-2 {
        background: url(/assets/portfolio/tablet/image-sxiv.jpg) no-repeat
          center center/cover;
      }
      .card-1-3 {
        background: url(/assets/portfolio/tablet/image-del-sol.jpg) no-repeat
          center center/cover;
      }

      // seecond row
      .card-2-1 {
        background: url(/assets/portfolio/tablet/image-federal.jpg) no-repeat
          center center/cover;
      }
      .card-2-2 {
        background: url(/assets/portfolio/tablet/image-paramour.jpg) no-repeat
          center center/cover;
      }
      .card-2-3 {
        background: url(/assets/portfolio/tablet/image-prototype.jpg) no-repeat
          center center/cover;
      }

      // Third row
      .card-3-1 {
        background: url(/assets/portfolio/tablet/image-edelweiss.jpg) no-repeat
          center center/cover;
      }
      .card-3-2 {
        background: url(/assets/portfolio/tablet/image-hypers.jpg) no-repeat
          center center/cover;
      }
      .card-3-3 {
        background: url(/assets/portfolio/tablet/image-seraph.jpg) no-repeat
          center center/cover;
      }
      // fourth row
      .card-4-1 {
        background: url(/assets/portfolio/tablet/image-netcry.jpg) no-repeat
          center center/cover;
      }
      .card-4-2 {
        background: url(/assets/portfolio/tablet/image-eebox.jpg) no-repeat
          center center/cover;
      }
      .card-4-3 {
        background: url(/assets/portfolio/tablet/image-228b.jpg) no-repeat
          center center/cover;
      }
    }
  }
}

@media (max-width: 320px) {
  .container__portfolio {
    min-width: 311px;
    .main {
      grid-template-columns: repeat(1, minmax(311px, 1fr));
      justify-content: center;

      .clickable-card {
        height: 240px;
        width: 100%;
      }
      .card-1-1 {
        background: url(/assets/portfolio/mobile/image-trinity.jpg) no-repeat
          center center/cover;
      }
      .card-1-2 {
        background: url(/assets/portfolio/mobile/image-sxiv.jpg) no-repeat
          center center/cover;
      }
      .card-1-3 {
        background: url(/assets/portfolio/mobile/image-del-sol.jpg) no-repeat
          center center/cover;
      }

      // seecond row
      .card-2-1 {
        background: url(/assets/portfolio/mobile/image-federal.jpg) no-repeat
          center center/cover;
      }
      .card-2-2 {
        background: url(/assets/portfolio/mobile/image-paramour.jpg) no-repeat
          center center/cover;
      }
      .card-2-3 {
        background: url(/assets/portfolio/mobile/image-prototype.jpg) no-repeat
          center center/cover;
      }

      // Third row
      .card-3-1 {
        background: url(/assets/portfolio/mobile/image-edelweiss.jpg) no-repeat
          center center/cover;
      }
      .card-3-2 {
        background: url(/assets/portfolio/mobile/image-hypers.jpg) no-repeat
          center center/cover;
      }
      .card-3-3 {
        background: url(/assets/portfolio/mobile/image-seraph.jpg) no-repeat
          center center/cover;
      }
      // fourth row
      .card-4-1 {
        background: url(/assets/portfolio/mobile/image-netcry.jpg) no-repeat
          center center/cover;
      }
      .card-4-2 {
        background: url(/assets/portfolio/mobile/image-eebox.jpg) no-repeat
          center center/cover;
      }
      .card-4-3 {
        background: url(/assets/portfolio/mobile/image-228b.jpg) no-repeat
          center center/cover;
      }
    }
  }
}
