@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
// Varaibles
// Colors
$Very-Dark-Blue: hsl(225, 13%, 12%);
$Dark-Grey: hsl(226, 6%, 40%);
$Medium-Grey: hsl(223, 7%, 53%);
$Light-Grey: hsl(225, 17%, 82%);
$Very-Light-Grey: hsl(230, 21%, 95%);
$Red: hsl(0, 68%, 61%);
$white: #fff;

// Typography

$font-size-h1-L: 12rem;
$font-size-h1-S: 80px;
$font-size-h2: 56px;
$font-size-h3: 18px;
$font-size-body: 15px;

$bold: 700;
$medium: 500;
