* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@import 'varaibles';
@import 'components';
@import 'home';
@import 'protfolio';
@import 'about';
