@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
.cta {
  border: none;
  height: 72px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.cta .icon-arrow {
  fill: none;
  stroke: #fff;
  width: 26px;
  height: 20px;
  margin-left: 24px;
}

.cta.btn--normal {
  color: #fff;
  background-color: #1b1d23;
}

.tertiary {
  border: none;
  width: 80px;
  height: 80px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.tertiary.btn--normal {
  color: #7f8490;
  background-color: #fff;
}

.tertiary.btn--active {
  color: #c9cdd9;
  background-color: #1b1d23;
}

.heading--large {
  display: inline-block;
  font-size: 12rem;
  font-weight: 700;
  color: #f0f0f5;
  letter-spacing: -5px;
  line-height: 200px;
}

.heading--large::first-letter {
  text-transform: uppercase;
}

.filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1b1d23;
  opacity: 0.4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar:before {
  content: '';
  display: inline-block;
  height: 104px;
  width: 1px;
  margin-bottom: 60px;
  background-color: #c9cdd9;
}

.sidebar span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #c9cdd9;
  transform: rotate(90deg);
}

.container {
  margin: 0 120px;
}

.container .header {
  margin-top: 64px;
  display: grid;
  grid-template-columns: auto 316px 1fr;
}

.container .header .logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 64px;
  grid-row: 1/2;
  grid-column: 2/3;
}

.container .header .nav > a {
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #60636c;
}

.container .header .carousel {
  background: url(/assets/home/desktop/image-hero-paramour.jpg) no-repeat top center/cover;
  grid-row: 2/3;
  grid-column: 1/4;
  margin-top: 56px;
  height: 720px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.container .header .carousel .carousel-content {
  width: 554px;
  margin-left: 190px;
  z-index: 10;
}

.container .header .carousel .carousel-content .heading-small {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.container .header .carousel .carousel-content .text {
  font-size: 15px;
  line-height: 25px;
  width: 445px;
  color: #f0f0f5;
  margin-top: 14px;
}

.container .header .carousel .carousel-content .cta {
  margin-top: 40px;
}

.container .header .carousel .carousel-content .btn-list {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: -80px;
  padding: 0;
  margin: 0;
}

.container .main .welcome-section {
  margin-top: 108px;
  display: grid;
  grid-template-columns: 182px 446px auto;
}

.container .main .welcome-section .heading--large {
  z-index: 1;
  grid-column: 1/4;
  grid-row: 1/2;
}

.container .main .welcome-section .content {
  width: 446px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: -40px;
  display: grid;
}

.container .main .welcome-section .content .content__title {
  font-size: 56px;
  font-weight: 700;
  color: #1b1d23;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 82px;
}

.container .main .welcome-section .content .content__title::first-letter {
  text-transform: uppercase;
}

.container .main .welcome-section .content .content__txt {
  font-size: 15px;
  font-weight: 500;
  color: #7f8490;
  line-height: 25px;
  vertical-align: bottom;
  align-self: end;
}

.container .main .welcome-section .welcome-image {
  object-fit: cover;
  z-index: -1;
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: -80px;
  justify-self: end;
  align-self: end;
}

.container .main .about-us-section {
  background: url(/assets/home/desktop/image-small-team.jpg) no-repeat center center/cover;
  width: 100%;
  height: 560px;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .main .about-us-section .title {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 56px;
  width: 445px;
  margin-left: 190px;
  color: #fff;
  z-index: 1;
}

.container .main .about-us-section .cta {
  z-index: 1;
  margin-left: 190px;
  width: 187px;
  margin-top: 32px;
}

.container .main .protfolio-section .protfolio-section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.container .main .protfolio-section .title {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 56px;
  color: #1b1d23;
}

.container .main .protfolio-section .cta {
  width: 169px;
}

.container .main .protfolio-gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 200px;
}

.container .main .protfolio-gallery .clickable-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container .main .protfolio-gallery .clickable-card .large-number {
  font-size: 12rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  opacity: 0.7;
}

.container .main .protfolio-gallery .clickable-card .project-name {
  display: block;
  margin-left: 40px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}

.container .main .protfolio-gallery .clickable-card .view-all-tag {
  display: block;
  margin-left: 40px;
  margin-bottom: 40px;
  color: #fff;
  z-index: 1;
  opacity: 0.8;
}

.container .main .protfolio-gallery .clickable-card:nth-child(1) {
  background: url(/assets/portfolio/desktop/image-228b.jpg) no-repeat center center/cover;
  height: 560px;
  width: 350px;
}

.container .main .protfolio-gallery .clickable-card:nth-child(2) {
  background: url(/assets/portfolio/desktop/image-del-sol.jpg) no-repeat center center/cover;
  height: 560px;
  width: 350px;
}

.container .main .protfolio-gallery .clickable-card:nth-child(3) {
  background: url(/assets/portfolio/desktop/image-edelweiss.jpg) no-repeat center center/cover;
  height: 560px;
  width: 350px;
}
